.hero {
    background-color: var(--primary-bg-color);
    padding: 40px;
    text-align: center;
  }
  
  .heroText {
    color: var(--text-color);
  }
  
  .ctaButton {
    background-color: var(--primary-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
  
    &:hover {
      background-color: var(--button-hover-color);
    }
  }
  