.hero {
    background-color: var(--primary-bg-color);
    padding: 40px;
    text-align: center;
  }
  
  .heroText {
    color: var(--text-color);
  
    h1 {
      font-size: 2rem;
    }
  
    p {
      font-size: 1.2rem;
    }
  }
  
  .ctaButton {
    background-color: var(--primary-color);
    color: var(--button-text-color);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
  
    &:hover {
      background-color: var(--button-hover-color);
    }
  }
  
  @media (max-width: 768px) {
    .heroText h1 {
      font-size: 1.5rem;
    }
  
    .heroText p {
      font-size: 1rem;
    }
  
    .ctaButton {
      padding: 8px 16px;
    }
  }
  
  @media (max-width: 480px) {
    .heroText h1 {
      font-size: 1.2rem;
    }
  
    .heroText p {
      font-size: 0.9rem;
    }
  
    .ctaButton {
      padding: 6px 12px;
    }
  }
  