.hero {
    background-color: var(--primary-bg-color);
    padding: 40px;
    text-align: center;
  }
  
  .heroText {
    color: var(--text-color);
  
    h1 {
      font-size: 2rem;
    }
  
    p {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 768px) {
    .heroText h1 {
      font-size: 1.5rem;
    }
  
    .heroText p {
      font-size: 1rem;
    }
  
    .ctaButton {
      padding: 8px 16px;
    }
  }
  
  @media (max-width: 480px) {
    .heroText h1 {
      font-size: 1.2rem;
    }
  
    .heroText p {
      font-size: 0.9rem;
    }
  

  }
  