.mainContainer {
  padding: 20px;
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
}

@media (max-width: 768px) {
  .mainContainer {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .mainContainer {
    padding: 10px;
  }
}
