.categoryList {
    list-style-type: none;
    padding: 0;
  }
  
  .categoryList li {
    margin-bottom: 10px;
  }
  
  .categoryList li a {
    color: var(--primary-color);
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }
  